<aside class="main-sidebar">
    <section class="sidebar">
  
      <ul class="sidebar-menu">
        <li class="header">MAIN MENU</li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="content/userdisplay">
            <i class="fa fa-laptop"></i>
            <span>MIT-BIH Display</span>
          </a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="content/devdisplay">
            <i class="fa fa-hospital-o"></i>
            <span>Device Display</span>
          </a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="content/upload">
            <i class="fa fa-files-o"></i>
            <span>Upload</span>
          </a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="content/acquisition">
            <i class="fa fa-heartbeat"></i>
            <span>Acquisition</span>
          </a>
        </li>
      </ul>
    </section>
  </aside>
  
