<div class="hold-transition  register-full wrapper">
	<div class="register-box">
	  <div class="register-logo">
	    <a routerLink="register"><b>Demo</b>App</a>
	  </div>

	  <div class="register-box-body">
	    <p class="login-box-msg">Answer the security question to reset your password</p>
	    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
	      
	      <div [ngClass]="{'has-success': forgotPasswordForm.controls.email.valid ,'has-error': !forgotPasswordForm.controls.email.valid && focusEmail,'form-group': true, 'has-feedback': true}">
	       <label *ngIf="forgotPasswordForm.controls.email.valid" class="control-label" for="email"><i class="fa fa-check"></i>Valid E-mail ID</label>
	       <label *ngIf="!forgotPasswordForm.controls.email.valid && focusEmail" class="control-label" for="email"><i class="fa fa-times-circle-o"></i>Please enter a valid E-mail ID</label>
	        <input type="email" class="form-control" placeholder="Email" id="email" name="email" formControlName="email" (focus)="onFocus(1)">
	        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
	      </div>
	      
	      <div class="form-group">
	      	<label>Select a security question:</label>
	      	<select class="form-control" formControlName="securityQuestion">
	      		<option *ngFor="let question of questions" [ngValue]="question">{{question}}</option>
	      	</select>
	      </div>
	      <div [ngClass]="{'has-success': forgotPasswordForm.controls.securityAnswer.valid ,'has-error': !forgotPasswordForm.controls.securityAnswer.valid && focusSecAnswer,'form-group': true, 'has-feedback': true}">
	       <label *ngIf="!forgotPasswordForm.controls.securityAnswer.valid && focusSecAnswer" class="control-label" for="securityAnswer"><i class="fa fa-times-circle-o"></i>Please answer the security question</label>
	        <input type="text" class="form-control" placeholder="Answer to the security question" id="securityAnswer" name="securityAnswer" formControlName="securityAnswer" (focus)="onFocus(2)" autocomplete="off">
	      </div><br />
	      
	      <div class="row">
	        <div class="col-xs-3">    
	        </div>
	        <div class="col-xs-6">
	          <button type="submit" class="btn btn-primary btn-block btn-flat">Retrieve password</button>
	        </div>
	        <div class="col-xs-3">    
	        </div>
	      </div>
	    </form><br />

	    <div class="position">
	    	<a class="text-center" (click)="navLogin()">Know your password? Login.</a>
	    </div>

	  </div>
	</div>
</div>
