<div class="hold-transition login-full wrapper">
  <div class="login-box">
    <div class="login-logo">
      <a routerLink=""><b>Demo</b>App</a>
    </div>

    <div class="login-box-body">
      <p class="login-box-msg">Sign in to start your session</p>
      <form [formGroup]="lForm" (ngSubmit)="onSubmit()">
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Email" id="email" name="email" formControlName="email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password" id="password" name="password" formControlName="password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="row">
          <div class="col-xs-4">            
          </div>

          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>

          <div class="col-xs-4">            
          </div>
        </div>
      </form><br />

      <div class="position">
        <a class="text-center" (click)="navRegister()">Not a member? Register now.</a><br />
        <a routerLink="" (click)="navForgotPassword()">Forgot password?</a>
      </div>
    </div>
  </div>
</div>