<aside class="main-sidebar">
  <section class="sidebar">

    <ul class="sidebar-menu">
      <li class="header">MAIN MENU</li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="content/display">
          <i class="fa fa-laptop"></i>
          <span>MIT-BIH Display</span>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="content/alldevdisplay">
          <i class="fa fa-hospital-o"></i>
          <span>Device Display</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
