<div class="hold-transition  register-full wrapper">
	<div class="register-box">
	  <div class="register-logo">
	    <a routerLink="register"><b>Demo</b>App</a>
	  </div>

	  <div class="register-box-body">
	    <p class="login-box-msg">Reset your password</p>
	    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

	      <div [ngClass]="{'has-success': resetPasswordForm.controls.password.valid ,'has-error': !resetPasswordForm.controls.password.valid && focusPassword,'form-group': true, 'has-feedback': true}">
	       <label *ngIf="resetPasswordForm.controls.password.valid" class="control-label" for="password"><i class="fa fa-check"></i>Valid password</label>
	       <label *ngIf="!resetPasswordForm.controls.password.valid && focusPassword" class="control-label" for="password"><i class="fa fa-times-circle-o"></i>Password should have a minimum of 6 characters</label>
	        <input type="password" class="form-control" placeholder="Password" id="password" name="password" formControlName="password" (focus)="onFocus(1)">
	        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
	      </div>
	      
	      <div [ngClass]="{'has-success': resetPasswordForm.controls.cpassword.valid && this.resetPasswordForm.controls.password.value === this.resetPasswordForm.controls.cpassword.value && this.resetPasswordForm.controls.cpassword.value != null ,'has-error': (!resetPasswordForm.controls.cpassword.valid || (this.resetPasswordForm.controls.password.value != this.resetPasswordForm.controls.cpassword.value && this.resetPasswordForm.controls.cpassword.value != null)) && focusCPassword,'form-group': true, 'has-feedback': true}">
	       <label *ngIf="this.resetPasswordForm.controls.password.value === this.resetPasswordForm.controls.cpassword.value && this.resetPasswordForm.controls.cpassword.value != null" class="control-label" for="cpassword"><i class="fa fa-check"></i>Confirm password matches password</label>
	       <label *ngIf="this.resetPasswordForm.controls.password.value != this.resetPasswordForm.controls.cpassword.value && this.resetPasswordForm.controls.cpassword.value != null && focusCPassword" class="control-label" for="cpassword"><i class="fa fa-times-circle-o"></i>Confirm password does not match password</label>
	       <label *ngIf="this.resetPasswordForm.controls.cpassword.value === null && focusCPassword" class="control-label" for="cpassword"><i class="fa fa-times-circle-o"></i>Please re-type password</label>
	        <input type="password" class="form-control" placeholder="Confirm password" id="cpassword" name="cpassword" formControlName="cpassword" (focus)="onFocus(2)">
	        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
	      </div><br />
	      
	      <div class="row">
	        <div class="col-xs-3">    
	        </div>
	        <div class="col-xs-6">
	          <button type="submit" class="btn btn-primary btn-block btn-flat">Reset Password</button>
	        </div>
	        <div class="col-xs-3">    
	        </div>
	      </div>
	    </form><br />

	  </div>
	</div>
</div>